@import "../../styles.scss";

.rightbar {
    @include themify($themes){
        flex: 3;
        background-color: themed('bgSoft');
        height: 100vh;
        overflow-y: auto;

        .container{
            padding: 20px;
    
            .item{
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                padding: 20px;
                margin-bottom: 20px;
                background-color: themed('bg');
    
                span{
                    color: themed("textColor");
                }
    
                .user{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0px;
    
                    .userInfo{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        position: relative;
    
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
    
                        .online{
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: limegreen;
                            position: absolute;
                            top: 0;
                            left: 30px;
                        }
    
                        p{
                            color: gray;
                        }
    
                        span{
                            font-weight: 500;
                            color: themed("textColor");
                        }
                    }
    
                    .buttons{
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        button{
                            border: none;
                            padding: 5px;
                            color: themed("textColor");
                            cursor: pointer;
    
                            &:first-child{
                                background-color: #5271ff;
                            }
    
                            &:last-child{
                                background-color: #f0544f;
                            }
                        }
                    }

                    .popup{
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, 0.2);
                        display: flex;
                        justify-content: center;
                        align-items: center;
            
                        .popup-inner{
                            display: flex;
                            position: relative;
                            padding: 50px;
                            width: 150px;
                            max-width: 640px;
                            background-color: themed('bgSoft');
                            margin: 100px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
            
                        button {
                            width: 100px;
                            margin: 10px;
                        }
                    }
                }

                .most-liked-post{
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    // justify-content: space-between;
                    margin: 20px 0px;
                    background-color: themed('bgSoft');
                    padding: 10px;
    
                    .post-info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                        position: relative;

                        .post-footer{
                            display: flex;
                            flex-direction: row;
                        }

                        .data{
                            padding-left: 10px;
                        }

                        .authorName{
                            font-weight: bold;
                        } 

                        .post-image{
                            width: 100%;
                        }

                        .video-player{
                            width: 100%;
                            height: 40vh;
                            background-color: white;
                        }
                    }
    
                    .buttons{
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        button{
                            border: none;
                            padding: 5px;
                            color: themed("textColor");
                            cursor: pointer;
    
                            &:first-child{
                                background-color: #5271ff;
                            }
    
                            &:last-child{
                                background-color: #f0544f;
                            }
                        }
                    }
                }
            }
        }
    }
}

.rightbar::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
