/* Styles for the boxed section */
.boxed-section {
height: 80%;
padding: 10px;
}

/* Styles for the container of username rows */
.username-container {
overflow-y: auto; /* Enable vertical scrolling */
}

.username-container::-webkit-scrollbar {
width: 0;
background: transparent;
}

/* Styles for the username rows */
.username-row {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
border-bottom: 1px solid #eee;
}

.username {
width:50px;
font-size: 12px;
font-weight: bold;
}

.usertype {
width:50px;
font-size: 12px;
font-weight: bold;
}

/* Styles for the delete button */
.delete-button {
background-color: #dc3545;
color: #fff;
padding: 8px 12px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.delete-button:hover {
background-color: #c82333;
}