@import '../../styles.scss';

.Post{
  transition: background-color 0.3s;
  background-color: white;
  border:1px solid #e1e8ed;
  padding: 10px;
  margin: 20px;
  margin-left: 1px;

  @include themify($themes){
    background-color: themed('bgSoft');
  }
}