@import "../../styles.scss";

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        border-bottom: 1px solid lightgray;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: themed("bg");
        color: themed("textColor");
        
        .left {
            display: flex;
            align-items: center;
            gap: 30px;
    
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
    
            span {
                font-weight: bold;;
                font-size: 30px;
                color: themed("logo");
            }

            .nav-logo{
                width: 15%;
            }

            .nav-logo img{
                width: 100%;
                height: auto;
            }
    
            .left-icons{
                color: themed("textColor");
                padding-top: 5px;
            }
    
            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid lightgray;
                border-radius: 20px;
                padding: 5px;
                width: 400px; /* Adjust the width as needed */
            
                input {
                    outline: none;
                    border: none; /* Remove input border */
                    border-radius: 20px;
                    width: 100%; /* Adjust the width of the input element */
                    padding: 10px; /* Adjust input padding to match the container */
                    background-color: themed("bg");
                }
            }
            
        }
             
        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            color: themed("textColor");
    
            .right-icons{
                color: themed("textColor");
                padding-top: 5px;
            }
    
            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                text-decoration: none;
                color: themed("textColor");
    
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
    
                // span {
    
                // }
            }
    
            .user:hover{
                color: lightgray;
            }
        }
    }
}