.theme {
  background: linear-gradient(
    106.37deg,
    #27D6CB 29.63%,
    #339EFC 51.55%,
    #B655FB 90.85%
  );
}

.main-content {
  color: var(--black);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.content-glass {
  display: grid;
  grid-template-columns:
  repeat(1, 1fr 1fr 1fr);
  grid-auto-rows: minmax(150px, auto);
  row-gap: 1em;
  column-gap: 1em;
  height: 95%;
  width: 85%;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 32px;
  background: white;
  overflow: hidden;
}

.content-box {
  max-height: 100%;
  background-color: black;
  color: white;
  padding: 8px;
  font-size: 20px;
  border-radius: 32px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.content-box::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.content-box:last-child {
  height: 180px;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 5px;
}



// .admin {
//   background-color: #ffffff;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   width: 100%;
// }
  
// .admin-panel-wrapper {
//     background-color: #ffffff;
// }
  
// .admin-panel-box {
//     height: 814px;
//     left: 16px;
//     position: relative;
//     width: 1247px;
// }
  
// .chitchat-logo {
//     height: 102px;
//     left: 474px;
//     object-fit: cover;
//     position: absolute;
//     top: 0;
//     width: 288px;
// }

// .main-panel {
//   background-color: #d9d9d9;
//   border-radius: 40px;
//   box-shadow: inset 0px 4px 4px #00000040;
//   height: 734px;
//   left: 0;
//   position: absolute;
//   top: 80px;
//   width: 1247px;
// }

// .password-request-box {
//   background-color: #ffffff;
//   border-radius: 20px;
//   height: 283px;
//   left: 542px;
//   position: absolute;
//   top: 154px;
//   width: 386px;
// }

// .admin-text {
//   color: #000000;
//   font-family: "Inter-Bold", Helvetica;
//   font-size: 24px;
//   font-weight: 700;
//   left: 581px;
//   letter-spacing: 0;
//   line-height: normal;
//   position: absolute;
//   text-decoration: underline;
//   top: 99px;
//   white-space: nowrap;
//   width: 86px;
// }

// /*START OF ACCOUNT REQUEST BOX CONTENT*/
// .account-requests-box {
//   background-color: #ffffff;
//   border-radius: 20px;
//   height: 283px;
//   left: 88px;
//   position: absolute;
//   top: 154px;
//   width: 386px;
// }

// .account-requests-text{
//   color: #000000;
//   font-family: "Inter-Bold", Helvetica;
//   font-size: 14px;
//   font-weight: 700;
//   letter-spacing: 0;
//   line-height: normal;
//   text-decoration: underline;
//   width: 200px;
//   text-align: center;
//   padding-left: 80px;
// }

// .user {
//   display: flex;
//   flex-direction: row;
//   margin: 10px;
// }

// .profile-picture-icon {
//   background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
//   border-radius: 20px;
//   height: 40px;
//   width: 40px;
//   margin: 5px;
// }

// .username {
//   padding: 0px;
//   margin: 5px;
// }

// .user-type {
//   margin-left: 10px;
// }
// /*END OF ACCOUNT REQUEST BOX CONTENT*/

// .password-request-text {
//   color: #000000;
//   font-family: "Inter-Bold", Helvetica;
//   font-size: 14px;
//   font-weight: 700;
//   letter-spacing: 0;
//   line-height: normal;
//   text-decoration: underline;
//   width: 181px;
//   padding-left: 110px;
// }

// /*START OF RECENT TRAFFIC CONTENT*/
// .recent-traffic-box {
//   background-color: #ffffff;
//   border-radius: 20px;
//   height: 283px;
//   left: 996px;
//   position: absolute;
//   top: 153px;
//   width: 171px;
// }

// .recent-traffic-text {
//   color: #000000;
//   font-family: "Inter-Bold", Helvetica;
//   font-size: 14px;
//   font-weight: 700;
//   letter-spacing: 0;
//   line-height: normal;
//   text-decoration: underline;
//   width: 109px;
//   padding-left: 38px;
// }
// /*END OF RECENT TRAFFIC CONTENT*/

// /*START OF POST WITH TABOO WORDS*/
// .post-taboo-words-box {
//   background-color: #ffffff;
//   border-radius: 20px;
//   height: 301px;
//   left: 88px;
//   position: absolute;
//   top: 472px;
//   width: 1079px;
// }

// .post-taboo-words-text {
//   color: #000000;
//   font-family: "Inter-Bold", Helvetica;
//   font-size: 14px;
//   font-weight: 700;
//   letter-spacing: 0;
//   line-height: normal;
//   text-decoration: underline;
//   width: 200px;
//   padding-left: 450px;
// }
// /*END OF POST WITH TABOO WORDS*/