.theme {
  background: linear-gradient(
    106.37deg,
    #27D6CB 29.63%,
    #339EFC 51.55%,
    #B655FB 90.85%
  );
}

.main-content {
  color: var(--black);
  height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.content-glass {
  display: grid;
  grid-template-columns:
  repeat(1, 1fr 1fr 1fr);
  grid-auto-rows: minmax(150px, auto);
  row-gap: 1em;
  column-gap: 1em;
  height: 95vh;
  width: 90%;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 32px;
  background: white;
  overflow: hidden;
}

.content-box {
  min-height: fit-content;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 32px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.content-box::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.content-box:last-child {
  height: 80%;
  max-height: fit-content;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: 5px;
}