.profile-timeline {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    width: 91%;
    margin-left: 10px;
    margin-top: 10px;

    .profile-banner {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .profile-info {
        padding-top: 20px;

        .profilepicture{
            position: relative;

            .profile-picture {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                border: 3px solid white;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                margin-top: -50px; // Half outside the banner
                background-color: black;
            }

            .add-picture-icon{
                color: black;
                position: absolute;
                right: 420px;
                bottom: 5px;
                font-size: 40px;
                cursor: pointer;
            }
        }

        h2 {
            margin-top: 10px;
            font-size: 1.5em;
            color: #333;
        }

        p {
            font-size: 1em;
            color: #666;
            margin-top: 5px;
        }
    }
}
