.home {
    flex: 0.4;
    border-right: 1px;
    min-width: fit-content;
    overflow-y: scroll;
}

.home__top {
    position: sticky;
    display: flex;
    top: 0;
    background-color: rgb(208, 209, 212);
    z-index: 100;
    border: 1px;
    padding:  15px 20px
}

.home::-webkit-scrollbar {
    display: none;
}

.home {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.homeOptions {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.homeOptions:hover {
    color: rgb(160, 215, 233);
    transition: color 100ms ease-out;
}

.homeOptions > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.post-box{
    padding-bottom:10px;
    background-color: white;
    border-bottom:8px solid #E1E8ED;
    padding-right:10px;
} 
  .post-box-input >form{
    display:flex;
    flex-direction: column;
} 
 /*.post-box-icon >form{
    display:flex;
    flex-direction: row;
} */

.post-box-input{
    padding:20px ;
    display:flex;
}

.post-box-input >input{
    flex:1;
    margin-left:20px;
    font-size:20px;
    border:none;
}

.Tweet{
  background-color: #1da1f2;
  color:white;
  border:none;
  font-weight:900;
  text-transform: inherit;
  border-radius:30px;
  width:80px;
  height:40px;
  margin-top: 20px;
  margin-left:auto;
}

.button-container{
   display: flex;
   /*justify-content: flex-end; */
}

.Image-Video {
background-color: #1da1f2;
  color:white;
  border:none;
  font-weight:900;
  text-transform: inherit;
  border-radius:30px;
  width:120px;
  height:40px;
  margin-top: 20px
  }