.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: white;
    
    .left {
        display: flex;
        align-items: center;
        gap: 30px;

        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        span {
            font-weight: bold;;
            font-size: 30px;
            color: darkblue;
        }

        .left-icons{
            color: black;
            padding-top: 5px;
        }

        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgray;
            border-radius: 20px;
            padding: 0px;
            width: 500px; /* Adjust the width as needed */
        
            input {
                outline: none;
                border: none; /* Remove input border */
                border-radius: 20px;
                width: 100%; /* Adjust the width of the input element */
                padding: 10px; /* Adjust input padding to match the container */
            }
        }
         }
        }
        

    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        .right-icons{
            color: black;
            padding-top: 5px;
        }

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            text-decoration: none;
            color: black;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {

            }
        }

        .user:hover{
            color: lightgray;
        }
    }